.title-bar {
  display: flex;
  justify-content: space-between;
  background: #202333;
}

.gps-location {
  position: absolute;
  right: 3.12%;
  top: 12.5%;
  bottom: 11.25%;
  height: 61px;
  width: 61px;
  background: url("/assets/gps.png");
}
