.switch-div {
    position: relative;
    margin-top: 2%;
}

.switch-left {
    position: absolute;
    top: 9.5%;
    left: 27%;
    color: white;
}

.switch-right {
    position: absolute;
    float: right;
    right: 34%;
    top: 9.5%;
    color: white;
}

.gwIframe {
    position: relative;
    margin-top: 4%;
    width: 100%;
    height: calc(100vh - 200px);
    overflow:hidden;
}

model-viewer {
    position: relative;
    margin-top: 4%;
    width: 100%;
    height: calc(100vh - 200px);
}