.menu {
  position: absolute;
  right: 3.12%;
  top: 12.5%;
  bottom: 11.25%;
  height: 61px;
  width: 61px;
}

.switch {
  display: flex;
  flex-direction: row;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.textfield {
  background-color: white;
}
