.switch {
  display: flex;
  flex-direction: row;
}

.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coord-label {
  padding: 20px;
  width: 70px;
}

.social {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
}
