.gallery {
  position: relative;
  width: 100%;
  height: calc(100vh - 170px);
  height: calc(100svh - 170px);
  background-color: lightgrey;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-content {
  max-width: 100%;
  max-height: 100%;
}

.clk-left {
  background-image: url("/assets/chevron-left.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  left: 2%;
  bottom: 50%;
  height: 64px;
  width: 64px;
  border: none;
  z-index: 1;
  cursor: pointer;
}

.clk-right {
  background-image: url("/assets/chevron-right.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  right: 2%;
  bottom: 50%;
  height: 64px;
  width: 64px;
  border: none;
  cursor: pointer;
}

.loading {
  width: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ar-only {
  background: #202333;
  color: #ffffff;
  border-radius: 6px;
  padding: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3), 0 0 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 100;
}

@media (prefers-color-scheme: dark) {
  .gallery {
    background: #14161a;
  }
}
