@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}

.clk-left {
  background-image: url("/assets/chevron-left.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  left: 2%;
  bottom: 40%;
  height: 64px;
  width: 64px;
  border: none;
  z-index: 1;
  cursor: pointer;
}

.clk-right {
  background-image: url("/assets/chevron-right.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  right: 2%;
  bottom: 40%;
  height: 64px;
  width: 64px;
  border: none;
  cursor: pointer;
}
