.label {
    height: 60px;
    background: #4B5588;
    color: white;
}

.label a {
    color: #FFFFFF;
    font-size: 32px;
    font-style: normal;
    text-align: center;
    align-items: center;
    font-family: Abel;
    font-weight: normal;
    line-height: 45px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}