.label {
  display: flex;
  justify-content: center;
  height: 98px;
  background: #202333;
  color: white;
}

.label span {
  color: #2fc1c1;
  font-size: 30px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
