.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 135px);
}

.wrapper a {
  color: #ffffff;
}

.avail-img {
  width: 300px;
}

.rect-box {
  width: 300px;
  height: 300px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.empty-txt {
  width: 300px;
  font-size: 1.5rem;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 600px) {
  .avail-img {
    width: 400px;
  }
  .empty-txt {
    width: 353px;
  }
}
