.avail-img {
  position: absolute;
  width: 400px;
  height: 400px;
  left: calc(50vw - 200px);
  top: calc(50vh - 200px - 160px);

  background: url("/assets/available-land.png");
}

.rect-box {
  position: absolute;
  width: 300px;
  height: 300px;
  left: calc(50vw - 150px);
  top: calc(50vh - 150px - 140px);
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.empty-txt {
  position: absolute;
  width: 353px;
  height: 340px;
  left: calc(50vw - 176px);

  font-family: "Abel";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  /*display: flex;*/
  align-items: center;
  text-align: center;

  color: #ffffff;
  top: calc(50vh - 150px - 140px + 259px);
}

.txt2 {
  color: #ffffff;
}
